@import 'variables.scss';
.first-call{
  display: inline-block;
  text-transform: uppercase;
  font-size: 34px;
  font-weight: $font-weight-semi-bold;
  margin-bottom: 0;
  margin-top: 15px;
}
.sub-call{
  text-transform: uppercase;
  margin-top: -5px;
  font-size: 22px;
  font-weight: $font-weight-semi-bold;
}
.description{
  font-size: 18px;
  margin-bottom: 40px;
  font-weight: $font-weight-normal;
  .line-through{
    margin-left: 5px;
    text-decoration: line-through;
  }
}
.price-now{
  position: relative;
  top: -25px;
  display: inline-block;
  margin-top: -40px;
  font-size: 24px;
  font-weight: $font-weight-thin;
}
.big-money{
  margin-left: 5px;
  font-size: 32px;
}
.root-call{
  width: 600px;
  margin-left: 20px;
  display: inline-block;
  vertical-align: top;
  color: $color-font;
  font-family: $font-family-base;
  font-size: $font-size-wee;
}
.consulta{
  font-weight: $font-weight-thin;
  font-size: 10px;
  position: relative;
  top: -40px;
}
.share-info{
  text-align: center;
  width: 200px;
  margin: 0 auto;
  margin-top: 180px;
  font-weight: $font-weight-thin;
  font-size: $font-size-small;
  img{
    margin-top: 5px;
    display: block;
    margin-bottom: 10px;
  }
}
