@import 'variables.scss';
.first-call{
  display: inline-block;
  text-transform: uppercase;
  font-size: 34px;
  font-weight: $font-weight-semi-bold;
  margin-bottom: 0;
  margin-top: 15px;

}
.sub-call{
  text-transform: uppercase;
  margin-top: -5px;
  font-size: 22px;
  font-weight: $font-weight-semi-bold;
}
.description{
  font-size: 18px;
  margin-bottom: 40px;
  font-weight: $font-weight-normal;
  .line-through{
    margin-left: 5px;
    text-decoration: line-through;
  }
}
.price-now{
  position: relative;
  top: -25px;
  display: inline-block;
  margin-top: -40px;
  font-size: 24px;
  font-weight: $font-weight-thin;
}
.big-money{
  margin-left: 5px;
  font-size: 32px;
}
.root-call{
  width: 600px;
  margin-left: 20px;
  display: inline-block;
  vertical-align: top;
  color: $color-font;
  font-family: $font-family-base;
  font-size: $font-size-wee;
  p{
    @media only screen and (max-width: 980px) {
      display: none;
    }
  }
}
.consulta{
  font-weight: $font-weight-thin;
  font-size: 10px;
  position: relative;
  top: -40px;
  @media only screen and (max-width: 980px) {
    display: none;
  }
}
.share-info{
  text-align: center;
  width: 200px;
  margin: 0 auto;
  margin-top: 160px;
  font-family: $font-family-base;
  font-weight: $font-weight-thin;
  font-size: $font-size-small;
  img{
    margin-top: 5px;
    display: block;
    margin-bottom: 10px;
  }
  @media only screen and (max-width: 980px) {
    display: none;
  }
}
.button-simul {
  cursor: pointer;
  margin-top: 15px;
  padding: 10px 40px;
  width: 280px;
  text-transform: uppercase;
  background-color: #b71d3e;
  border: 0;
  color: $color-font;
  border-top: 2px solid lighten(#b71d3e, 10%);
  font-size: $font-size-base;
  margin-bottom: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 3px 4px 0 rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 3px 4px 0 rgba(0,0,0,0.5);
  box-shadow: 1px 3px 4px 0 rgba(0,0,0,0.5);
  transition: all ease-in-out 0.3s;
  &:hover{
    -webkit-box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.75);
    box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.75);
    border-top: 2px solid darken(#b71d3e, 2%);
    background-color: darken(#b71d3e, 5%);
  }
}
.mobile-btn{

  @media only screen and (min-width: 981px) {
    display: none;
  }
  display: block;
}
