@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import 'variables.scss';
.sliderX{
  width: 980px;
  margin: 0 auto;
  height: 400px;
  padding-top: 20px;
  h3{
    font-family: $font-family-base;
    text-align: center;
    margin-bottom: 5px;
    font-weight: lighter;
    font-size: 32px;
    color: #2a2a2a;
  }
  .separator{
    height: 1px;
    width: 100px;
    margin: 0 auto;
    background-color: #c3c2c2;
    margin-bottom: 60px;
  }
  .description{
    font-family: $font-family-base;
    color: #2a2a2a;
    text-align: center;
  }
}
.slick-dots li.slick-active button:before{
  color: #b71d3e !important;
}
.slick-dots li button:before{
  font-size: 12px !important;
}
.slick-prev::before {
    font-family: FontAwesome !important;
    content: "\f053" !important;
    font-size: 10px !important;
    color: white !important;
    padding-bottom: 15px;
}
.slick-next::before {
    font-family: FontAwesome !important;
    content: "\f054" !important;
    font-size: 10px !important;
    color: white !important;
    padding-bottom: 15px;
}
.slick-arrow{
  top: 40px !important;
  height: 25px !important;
  width: 25px !important;
  padding-bottom: 20px;
  padding-top: 10px;
  border-radius: 0 !important;
  background-color: black !important;
}
.car-imageS{
  position: relative;
  left: 30px;
  transition: all ease-in 0.2s;
  &:hover{
    opacity: 0.5;
  }
}
