@import 'variables.scss';
.container-text{
  padding: 20px;
  display: inline-block;
  text-align: center;
  width: 250px;
  &:nth-child(2){
    margin-left: 20px;
    margin-right: 20px;
    border-right: 0.5px solid #5a373f;
    border-left: 0.5px solid #5a373f;
    padding-left: 50px;
    padding-right: 50px;
}
}
.root-calls{
  padding: 20px;
  font-family: $font-family-base;
  display:block;
  background-color: #522d3a;
  width: 100%;
  overflow: hidden !important;
  height: auto;
  @media only screen and (max-width: 980px) {
    overflow: hidden !important;
    padding-top: 200px;
    height: 400px;
    width: 100%;
    .container-text{
      &:nth-child(2){
        margin: 0px;
        padding: 0;
        border: 0;

    }
  }
  }


}

.container-calls{
  display: flex;
  align-items: center;
  height: 200px;
  justify-content: center;
  @media only screen and (max-width: 980px) {
    flex-direction: column;
    width: 92%;
    align-items: center;
  }
}
.top-text{
  font-size: 24px;
  color: $color-font;
  font-weight: $font-weight-thin;
  margin-bottom: -20px;

}
.middle-text{
  color: #d33c5c;
  font-size: 34px;
  text-transform: uppercase;
  font-weight: $font-weight-normal;
  margin-bottom: -10px;
}
.bottom-text{
  font-weight: $font-weight-thin;
  color: $color-font;
  font-size: $font-size-base;
}
