@import 'variables.scss';
.navbar{
  position: fixed;
  width: 100%;
  z-index: 99;
  height: 55px;
  padding-top: 30px;
  transition: all ease-in 0.3s;
}
.container-nav{
  align-items: flex-end;
  width: 990px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  .telefones{
    border: 2px solid $color-font;
    padding: 5px 15px 5px 15px;
    margin-left: 65px;
    font-size: $font-size-base;
    transition: all ease-in-out 0.25s;
    cursor: pointer;
    .chev{
      margin-left: 20px;
      top: -3px;
    }
    &:hover{
      background-color: $color-font;
      color: black;
    }
  }
  a{
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    text-transform: uppercase;
    color: $color-font;
    font-family: $font-family-base;
    font-size: $font-size-small;
    font-weight: $font-weight-semi-bold;

  }
  .brand{
    img{
      position: relative;
      top: -3px;
      margin-bottom: -15px;
  }
  }
  .logo{
    img{
      margin-bottom: -6px;
  }
  }
}
.center-nav{
  display: flex;
  width: 600px;
  margin: 0 auto;
  align-items: flex-end;
}
.links-right{
}
.chev{
  align-items: center;
  vertical-align: middle;
  position: relative;
  top: -2px;
  margin-left: 10px;
  font-size: 9px;
}
.phone{
  margin-right: 8px;
}
.dropdown-nav{
  position: absolute;
  display: block;
  margin-top: 5px;
  margin-left: 10px;
  height: 200px;
  width: 280px;
  background-color: #fff;
  transition: all ease-in-out 0.3s;
  overflow-y: auto;
  border-left: 0 !important;
  padding: 0 !important;
  border-right: 10px solid #fff;
  border-top: 10px solid #fff;
  &::-webkit-scrollbar-thumb{
    background-color: #000;
    border-radius: 10px;
  }
  &::-webkit-scrollbar{
    background-color: #fff;
    width: 4px;
  }
  &::-webkit-scrollbar-track{
    background-color: #ccc;
    border-radius: 10px;
  }
  p{
    cursor: pointer;
    padding: 20px;
    text-transform: uppercase;
    margin: 0;
    font-family: $font-family-base;
    font-size: $font-size-small;
    font-weight: $font-weight-semi-bold;
    transition: all ease-in-out 0.2s;
    color: black;
    img{
      position: relative;
      top: -5px;
      left: -20px;
      float: right;
      width: 60px;
      height: 100%;
      transition: all ease-in-out 0.2s;
    }
    &:hover{
      background-color: #ccc;
      img{
        left: -30px;
      }
    }
  }
}
.dropdown-nav-hide{
  position: absolute;
  overflow: hidden;
  height: 0px;
  opacity: 0;
}
.dropdown-container{
  display: inline-block;
}
