@import 'variables.scss';
.navbar{
  position: fixed;
  width: 100%;
  z-index: 99;
  height: 70px;
  padding-top: 20px;
}
.container-nav{
  align-items: flex-end;
  width: 955px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  .telefones{
    border: 2px solid $color-font;
    padding: 5px 15px 5px 15px;
    margin-left: 65px;
    font-size: $font-size-base;
    .chev{
      margin-left: 20px;
    }
  }
  a{
    margin-left: 10px;
    margin-right: 10px;
    text-transform: uppercase;
    color: $color-font;
    font-family: $font-family-base;
    font-size: $font-size-small;
    font-weight: $font-weight-thin;

  }
  .brand{
    img{
      margin-left: -15%;
      margin-bottom: -15px;
  }
  }
  .logo{
    img{
      margin-bottom: -6px;
  }
  }
}
.center-nav{
  display: flex;
  width: 600px;
  margin: 0 auto;
  align-items: flex-end;
}
.links-right{
}
.chev{
  align-items: center;
  vertical-align: middle;
  position: relative;
  top: -3px;
  margin-left: 10px;
  font-size: 9px;
}
.phone{
  margin-right: 10px;
}
