
.container-video {
  overflow: hidden;
  margin: 0 auto;
  margin-right: -5%;
  background-color: white;
  overflow: hidden;
}

.container-video .vimeoXtra {
  filter: brightness(35%);
  margin-top: -260px;
  width: 2000px;
  overflow: hidden;

}
.wrap-div{
  position: absolute;
  overflow: hidden;
  width: 100%;
  z-index: -1;
  padding-bottom: -20%;
}
